[Desktop Entry]
Name=constants
Exec=/usr/bin/qmlscene $@ /usr/share/constants/constants.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
